.App {
  text-align: center;
}

.ca-global-header {
  font-family: "Tahoma", "Geneva", "sans-serif";
  background-color: white;
  clear: both;
  width: 100%;
  min-width: 100%;
  font-size: 16px;
  z-index: -1;
}

.ca-global-header-inner {
  display: flex;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.ca-nav {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.ca-logo {
  padding: 50px 50px;
}

.ca-nav-button {
  border: solid #000 2px;
  background: #3ab41eb5;
  color: white;
  padding: 11px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  margin: 15px 10px;
}

.header-text {
  flex-grow: 1;
  padding: 30px 0px;
  font-size: 13px;
  color: black;
  text-decoration: none;
}
